<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You favorited "<%= @post.title %>"</h1>
     <small>
       By: <%= @post.user.name %>
     </small>
     <p>
       <%= @post.body %>
     </p>
     <p>
       You will receive emails when new comments are attached to the post
     </p>
   </body>
 </html>
